<web-app>
    <servlet>
        <servlet-name>SimpleServletExample</servlet-name>
        <servlet-class>SimpleServletExample</servlet-class>

        <init-param>
            <param-name>number</param-name>
            <param-value>5</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>UserProfileServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>SimpleServletExample</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>TokenFilter</filter-name>
        <filter-class>TokenFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>TokenFilter</filter-name>
        <url-pattern>/user</url-pattern>
    </filter-mapping>

</web-app>